<div class="product_menu_block">
  <div class="menu_buttons">
    <button (click)="createNewProductCategory()" mat-raised-button>
      <span>Добавить категорию</span>
    </button>

    <button (click)="createNewProduct()" mat-raised-button>
      <span>Добавить продукт</span>
    </button>
  </div>

  <div class="product_filters">
    <div class="category_list">
      <div class="category" *ngFor="let category of productCategoryList">
        <button (click)="changeSelectCategory(category.productCategoryId)"
                [ngClass]="{'select': selectCategoryId === category.productCategoryId, 'not_select': selectCategoryId !== category.productCategoryId}"
                mat-raised-button>
          <span>{{category.name}}</span>
        </button>
      </div>
    </div>
  </div>

  <div class="product_list">
    <div *ngFor="let item of productList" class="product_item">
      <img alt="image_error" class="product_img" [src]="item.img.imageContent">
      <div class="product_info">
        <span>{{'Название: ' + item.name}}</span>
        <span>{{'Описание' + item.description}}</span>
        <span>{{'Стоимость: ' + item.cost + ' грн'}}</span>
        <span>{{'Категория: ' + (item.categoryName ? item.categoryName : '-')}}</span>
      </div>
      <div class="item_buttons">
        <button (click)="editProduct(item)" mat-raised-button>
          <mat-icon>build</mat-icon>
        </button>
        <button (click)="deleteProduct(item)" mat-raised-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
