* {
  margin: 0;
  padding: 0;
}

.string_input_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 400px;
}

.width300 {
  width: 300px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
