* {
  margin: 0;
  padding: 0;
}

.product_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  min-width: 600px;
}

.product_data_block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.fields_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
}

.cost_available {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.select_category,
.img_button {
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.width300 {
  width: 300px;
}

.width120 {
  width: 120px;
}
